.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(196, 196, 196);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-grow: 1;

  .btn-container__btn {
    font-size: 3rem;
    color: $clr-white;
    cursor: pointer;
  }
}
