@import "../styles/var.scss";
@import "../styles/Navbar.scss";
@import "../styles/Dashboard.scss";
@import "../styles/ViewPage.scss";
@import "../styles/Workspace.scss";
@import "../styles/Welcome.scss";
@import "../styles/NoteIconsAnimation.scss";
@import "../styles/Modal.scss";
@import "../styles/Workspace_showHow.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $clr-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
