@import "../styles/var.scss";

.welcome {
  position: absolute;
  top: $navbar-height;
  left: 0;
  // width: 100%;
  height: 100%;
}

.welcome__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  // scroll-snap-type: x;
  overflow-x: scroll;
  display: flex;

  section {
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffee1;
    flex: none;

    &:nth-child(2) {
      background-color: #e2fcff;
    }

    .welcome__container__content {
      max-width: 800px;
      padding: 40px;
      text-align: center;

      img {
        width: 30rem;
        height: 20rem;
        object-fit: cover;
      }

      .title {
        opacity: 0;
        transition: opacity 2s ease;
      }

      .title.active {
        opacity: 1;
      }
    }
  }
}

.spacer {
  // aspect-ratio: 960/300;
  width: 200vw;
  // height: 47rem;
  padding-top: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave1 {
  background-image: url("../public/wave2.svg");
}
