@import "../styles/var.scss";

.welcome {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.welcome__container {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 200vw;
  height: 100%;
  display: flex;
  overflow-x: scroll;

  // scroll-snap-type: x;
}
.block {
  display: flex;
  width: 100vw;
}

.welcome__container__contents {
  width: 100%;
  height: 60%;
  // background-color: tomato;
  display: flex;

  .welcome__container__contents__content {
    flex: 1;
  }

  .a {
    background-color: tomato;
    height: 100%;
  }
  .b {
    background-color: blue;
    height: 100%;
  }
  .c {
    background-color: aqua;
    height: 100%;
  }
  .d {
    background-color: wheat;
    height: 100%;
  }
}

.spacer {
  width: 100%;
  height: 100%;
  // padding-top: 60%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}

.wave1 {
  background-image: url("../public/wave2.svg");
}

.wave2 {
  background-image: url("../public/wave2.svg");
  transform: rotateY(120deg);
}
