@import "../styles/var.scss";

.welcome {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.welcome__container {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 200vw;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  // scroll-snap-type: x;
}

.welcome__container__contents {
  width: 100%;
  height: 60%;
  display: flex;
  color: $clr-white;

  .welcome__container__contents__content {
    position: relative;
    // width: 200rem;
    width: 100%;

    img {
      width: 50%;
      min-width: 18rem;
      object-fit: cover;
    }
  }

  .a {
    border: 1px solid tomato;
    font-size: 2rem;
    h2 {
      position: absolute;
      top: 5rem;
      left: 50px;
    }
    span {
      position: absolute;
      top: 13rem;
      left: 100px;
      display: flex;
      width: 40rem;
    }
    img {
      top: 20rem;
      left: 100px;
      position: absolute;
    }
  }
  .b {
    font-size: 2rem;
    border: 1px solid blue;
    span {
      position: absolute;
      top: 5rem;
      left: 100px;
      display: flex;
      width: 50rem;
    }
    img {
      top: 10rem;
      left: 100px;
      position: absolute;
    }
  }
  .c {
    font-size: 2rem;
    border: 1px solid aqua;
    span {
      position: absolute;
      top: 5rem;
      left: 100px;
      display: flex;
      width: 50rem;
    }
    img {
      top: 10rem;
      left: 100px;
      position: absolute;
    }
  }
  .d {
    font-size: 2rem;
    border: 1px solid wheat;
    span {
      position: absolute;
      top: 5rem;
      left: 100px;
      display: flex;
      width: 50rem;
    }
    img {
      top: 10rem;
      left: 100px;
      position: absolute;
    }
  }
}

.spacer {
  width: 300vw;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.wave1 {
  background-image: url("../public/wave2.svg");
}
