@import "../styles/var.scss";

.myCropper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.myCropper-container {
  display: flex;
  justify-content: center;
}

.myCropper__realCropper {
  width: 600px;
  height: 800px;
  // position: absolute;
  // left: 50%;
  // top: 3rem;
  // transform: translateX(-60%);
}
.myCropper__btns {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.myCropper__btns__btn {
  margin-bottom: 3rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: $clr-white;
  font-size: 1.3rem;
  font-weight: 600;
}

.myCropper__btns__btn:first-child {
  margin-top: 3rem;
}
