@import "../styles/var.scss";

.myCropper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  // background-color: $clr-lightGrey;
  z-index: 5;
}

.myCropper-container {
  display: flex;
  justify-content: center;
}

.myCropper__realCropper {
  // width: 600px;
  width: 100%;
  height: 800px;
  // position: absolute;
  // left: 50%;
  // top: 3rem;
  // transform: translateX(-60%);
}
.myCropper__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  font-family: "Roboto", sans-serif;
}

.myCropper__btns__btn {
  position: relative;
  margin-bottom: 3rem;
  padding: 0.5rem;
  width: 14rem;
  height: 4rem;
  border: 0;
  cursor: pointer;
  color: $clr-white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  z-index: 3;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
}

.myCropper__btns__btn:first-child {
  margin-top: 3rem;
}

.myCropper__btns__btn:hover {
  letter-spacing: 3px;
  color: $clr-yellow;
}

.myCropper__btns__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.6s;
}

.myCropper__btns__btn:hover::before {
  content: "";
  transform: skewX(45deg) translateX(200%);
  background: linear-gradient(to left, $clr-yellow, transparent);
}
